.AboutContainer h2 {
  display: flex;
  gap: 8px;
  font-size: 40px;
}

.Expertise {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 60px;
  place-items: center;
}
.Expertise-Item h3 {
  font-size: 24px;
}

.Expertise-Item p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
