.WorksContainer {
  margin-bottom: 5%;
}

.headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view {
  color: #fff;
  font-family: 'Syne', sans-serif;
}

.Works-Box {
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgba(203, 203, 203, 0.5); /* Add transparency */
  height: 63vh;
  width: 94vw;
  display: flex;
  gap: 20px;
  backdrop-filter: blur(100px); /* Apply blur effect */
  border-radius: 30px; /* Optional: adds smooth edges */
}
.Works-Content h3 {
  font-size: 40px;
  margin-top: 0;
}
.Works-Content p {
  margin: 0;
}

.Works-Box-btns button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 4px 30px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-family: 'Syne', sans-serif;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 180px;
  transition: 0.3s ease, transform 0.2s ease;
}

.Works-Box-btns button:hover {
  background-color: #fff;
  color: #000;
  border-radius: 25px;
  cursor: pointer;
  transform: scale(1.2);
}

.mail-backdrop1 {
  position: absolute;
  top: 230%;
  left: 33%;
  width: 23%;
  height: 23%;
  z-index: -1;
}

.mail-backdrop2 {
  position: absolute;
  top: 310%;
  right: 44%;
  width: 23%;
  height: 23%;
  z-index: -1;
}
.mail-backdrop3 {
  position: absolute;
  top: 380%;
  right: 44%;
  width: 23%;
  height: 23%;
  z-index: -1;
}

.Case-Study {
  padding: 20px 30px;
  border: none;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50px;
  transition: 0.3s ease, transform 0.2s ease;
}

.Case-Study:hover {
  color: #000;
  border-radius: 25px;
  cursor: pointer;
  transform: scale(1.05);
}
@media screen and (max-width: 1024px) {
  .WorksContainer {
    margin-right: 20px;
  }
  .Works-Box {
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    border-radius: 4%;
  }

  .Works-Box img {
    width: 50%;
  }

  .Works-Content h3 {
    font-size: 28px;
  }

  .Works-Box-btns button {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .mail-backdrop1,
  .mail-backdrop2,
  .mail-backdrop3 {
    display: none; /* Hide on very small screens */
  }
  .Case-Study {
    float: right;
    position: relative;
    bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .WorksContainer {
    padding: 10px;
  }

  .Works-Box {
    padding: 15px;
    flex-direction: column;
  }

  .Works-Content h3 {
    font-size: 24px;
  }
  .Works-Box img {
    width: 100%;
  }

  .mail-backdrop1,
  .mail-backdrop2,
  .mail-backdrop3 {
    display: none; /* Hide on very small screens */
  }
}

@media screen and (max-width: 480px) {
  .headers {
    align-items: center;
    border-radius: 4%;
  }
  .Works-Box img {
    width: 100%;
  }

  .Works-Box {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .Case-Study {
    position: relative;
    top: 5px;
    right: 1px;
    width: 100%;
  }
  .Works-Content h3 {
    font-size: 20px;
  }

  .mail-backdrop1,
  .mail-backdrop2,
  .mail-backdrop3 {
    display: none; /* Hide on very small screens */
  }
}
