/* Footer Container */
.footer {
  margin-bottom: 0;
  text-align: center;
}

/* Marquee Effect */
.marquee-container {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
}

.marquee {
  display: flex;
  gap: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  animation: marquee-scroll 18s linear infinite;
  margin-bottom: 70px;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-85%);
  }
}

/* Contact Section */
.footer-heading {
  font-size: 64px;
  font-weight: 800;
  margin-top: 30px;
}

.footer-email {
  display: inline-block;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
}

.footer-email:hover {
  color: gray;
}

/* Social Links */
.footer-social {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social a {
  font-size: 14px;
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.links {
  font-size: 14px;
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer-social a:hover {
  opacity: 0.7;
}

.footer-social p {
  font-size: 14px;
}

.outlined-text {
  font-size: 56px; /* Adjust size as needed */
  font-weight: bold;
  text-transform: uppercase;
  color: transparent; /* Makes the inner text invisible */
  -webkit-text-stroke: 1px white; /* White outline */
  font-family: 'Syne', sans-serif; /* Adjust font if needed */
}
