.ExpContainer {
  margin-bottom: 5%;
}

.Experience {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Experience h4 {
  margin-right: 20px;
  margin-bottom: 0;
}

.Experience h5 {
  text-align: right;
  margin-bottom: 0;
}

.Experience p {
  text-align: right;
  margin-bottom: 0;
}
